.BgReflections {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	.jumbotron & {
		/*margin: 0 15px 32px 15px;*/
		padding: 0 15px 32px 15px;
		//border-radius: 0.3rem;
	}

	linearGradient {

		.light {
			stop-color: white;
			stop-opacity: .03;
			//stop-opacity: .5;
		}

		.dark {
			stop-color: black;
			stop-opacity: .0;
			//stop-opacity: .5;
		}
	}
}

