$bg-colour: black;
$bg-gradient: linear-gradient(to bottom,hsl(0,0,25), hsl(0,0,0));
$bg-gradient2: linear-gradient(to bottom,hsl(120,10,20), hsl(0,0,0));
$panel_hue: 240;
$shadow_x: 15px;
$shadow_y: 20px;

@mixin TitleShadow() {
	text-shadow: $shadow_x $shadow_y 5px black;
}
@mixin TranslucentPanelBg() {
	background-color: hsla($panel_hue,100,20,.5);
}
@mixin OpaqueInputBg() {
	background-color: hsla(0,0,0,.8);
	}